p {

/* Content- width & height */
width: 10%;
/* border */
border: 5px dotted pink;
/* padding */
padding: 10px;
/* margin */
margin: 10px auto ;    
}


/* Content- width & height */
/* border */
/* padding */
/* margin */