/* body{
    background-color: #fda300;
}

h1 {
    color: #05386b;
}
p {
    color: #05386b;
}
.important {
    background-color: #182833;

}
.navbar-dark .navbar-brand {
    color: #fda300;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #fda300;
} */