table{
    margin: auto;
}
td{
    height: 100px;
    width: 100px;
}
h1{
    text-align: center;
}
.side {
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.tb {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
div{
    align-items: center;
}


